flows.json
[
    {
        "id": "8595b6d4.a51f68",
        "type": "tab",
        "label": "Sensores_Edificio",
        "disabled": false,
        "info": "Manejo de telegram para edificio"
    },
    {
        "id": "63c3d7ac.e67068",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d5b0d965.8eeb18",
            "428ef7e7.d5dbe8",
            "96264002.9a23d",
            "b8fb60d8.ee7f3"
        ],
        "x": 34,
        "y": 19,
        "w": 412,
        "h": 142
    },
    {
        "id": "e4ce36e5bac75fcf",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "name": "MsgOutput",
        "style": {
            "label": true
        },
        "nodes": [
            "ce7185b8.7fb4a8",
            "385efb29.dfc984",
            "f971341755268546",
            "26fa7976d5283062",
            "3e28c1b7c7111538",
            "0d411e93da087075"
        ],
        "x": 1134,
        "y": 19,
        "w": 692,
        "h": 162
    },
    {
        "id": "ce445830e294e73e",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2b1fec0b.6be214",
            "ce90a758.fd0b78",
            "6ff8f66f.63ade8",
            "58242d4e.dc9dd4",
            "47586b44.bcf224",
            "8d8a7491.7c84e8",
            "df1e754784f23707",
            "63060eabf24e9ef2"
        ],
        "x": 34,
        "y": 879,
        "w": 1072,
        "h": 302
    },
    {
        "id": "ebda3edd388e326b",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "77c80ccd.9b2f04",
            "b7f6aa26.ae0f58",
            "ffcd40ad.8952b",
            "7257379b.8148a8",
            "6b93dbcb.d2eb04",
            "f495ec5d.e813",
            "f5c8b64cf8f9cbd7",
            "2637a656ab5e7fa2",
            "e36a7990f0a5746e",
            "4353bb2c5cc5e752",
            "a587555f51e3aa6d",
            "bd6a0addd0877719"
        ],
        "x": 34,
        "y": 1219,
        "w": 1252,
        "h": 242
    },
    {
        "id": "47c076582dc80fbc",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d67670d.d1f309",
            "fcc08346.cf557",
            "27e88005870313a2"
        ],
        "x": 34,
        "y": 1519,
        "w": 712,
        "h": 82
    },
    {
        "id": "266f0d0a4b0823a3",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "908b8a07.657708",
            "a31a69eb.04e658",
            "d777ce08.77cde",
            "8328beeb.86a4d",
            "cc3338651d7d942e",
            "f559b37152f4d9f9"
        ],
        "x": 34,
        "y": 1659,
        "w": 862,
        "h": 122
    },
    {
        "id": "3e8374dc213cbb02",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "41e9e8.30465618",
            "588d533d.cd3e5c",
            "6d3f9901.d47548",
            "39662b3d.a80ce4",
            "fe2c120.7f771f",
            "13231ad3.1ec145",
            "7d8af354.34c09c",
            "20e44cc0.d4eb94",
            "6d3303f4.bfbafc",
            "34141c87479d9471",
            "c782aee25dcb2d7e"
        ],
        "x": 34,
        "y": 1839,
        "w": 812,
        "h": 262
    },
    {
        "id": "95f1c954a3dea647",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6b84058d.233b8c",
            "2d212b1a.cf5854",
            "c117387f.c1ee78",
            "e6e8375c.abf958",
            "cb4c3936.232468",
            "8372c6341a3b12f4"
        ],
        "x": 34,
        "y": 2139,
        "w": 682,
        "h": 162
    },
    {
        "id": "963115cd91677219",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d3c5caa6.6781d8",
            "fa68e470.9c21e8",
            "4b6126a0.a562f8",
            "7f177397.f3946c",
            "7d83a24a.890c0c",
            "b37858ce.4e9498",
            "1767c774.af8009",
            "4ef48cf1.efd764",
            "5c0e0b96.7bbc94",
            "2ae642d2.1472ee",
            "8b08b51f.e38ed8",
            "a82ef763.ac2178",
            "405c6fda.5d43a",
            "d3e9d7f7.47fcc8",
            "62a1c92e.6081d8",
            "ac5a0793c01b0522",
            "1e7eabd610a997b7",
            "796e1597dfc2a337",
            "8139762bfa28e6c0",
            "b989d491ca941f95",
            "9f21ded22803e4cd"
        ],
        "x": 34,
        "y": 199,
        "w": 1662,
        "h": 302
    },
    {
        "id": "7fccb777c862da50",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fef1a28e.fe6f4",
            "310c0221.6bc6ee",
            "6d845807.7cd798",
            "164f1049.55d4a",
            "4aa8c463.2b2adc",
            "7a2a2abb.45d084",
            "7bb10696.ec2f18",
            "45957e88.d70f6",
            "2453dc24.0b2ce4",
            "4e544e88.fe061",
            "93346df2.d4602",
            "843e6814.3366a8",
            "7fe8166c.659e58",
            "4c04c450.b0bdfc",
            "14e2754a.875fdb",
            "08bd6337038bab4d",
            "25051a7c06ae871b",
            "4617cc5d1d7c857f",
            "f119464a56897860",
            "5d92499ce6651062",
            "8244c9705ff7410f"
        ],
        "x": 34,
        "y": 519,
        "w": 1602,
        "h": 342
    },
    {
        "id": "76fc0a591b5308f6",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6507542a.07ee9c",
            "4d6364aa.17376c",
            "aec327ba.c9e758",
            "9c61c2f7.0d51c",
            "3c7ac65b882772b9",
            "2d3e46a51a73f6bc"
        ],
        "x": 474,
        "y": 19,
        "w": 632,
        "h": 162
    },
    {
        "id": "1c62b5e9c7aad416",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [],
        "x": 0,
        "y": 0,
        "w": 40,
        "h": 40
    },
    {
        "id": "4617cc5d1d7c857f",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "x": 680,
        "y": 600,
        "wires": [
            [
                "310c0221.6bc6ee",
                "7bb10696.ec2f18",
                "7a2a2abb.45d084"
            ]
        ]
    },
    {
        "id": "796e1597dfc2a337",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "x": 1600,
        "y": 360,
        "wires": [
            [
                "1e7eabd610a997b7"
            ]
        ]
    },
    {
        "id": "f119464a56897860",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "x": 1500,
        "y": 700,
        "wires": [
            [
                "25051a7c06ae871b"
            ]
        ]
    },
    {
        "id": "8139762bfa28e6c0",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "x": 680,
        "y": 260,
        "wires": [
            [
                "b37858ce.4e9498",
                "1767c774.af8009",
                "fa68e470.9c21e8"
            ]
        ]
    },
    {
        "id": "b989d491ca941f95",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "2ae642d2.1472ee",
                "8b08b51f.e38ed8"
            ]
        ]
    },
    {
        "id": "9f21ded22803e4cd",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "5c0e0b96.7bbc94"
            ]
        ]
    },
    {
        "id": "5d92499ce6651062",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "2453dc24.0b2ce4"
            ]
        ]
    },
    {
        "id": "8244c9705ff7410f",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "x": 460,
        "y": 820,
        "wires": [
            [
                "93346df2.d4602",
                "4e544e88.fe061"
            ]
        ]
    },
    {
        "id": "63060eabf24e9ef2",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "x": 1000,
        "y": 1020,
        "wires": [
            [
                "df1e754784f23707"
            ]
        ]
    },
    {
        "id": "bd6a0addd0877719",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "x": 1040,
        "y": 1400,
        "wires": [
            [
                "a587555f51e3aa6d"
            ]
        ]
    },
    {
        "id": "f559b37152f4d9f9",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "x": 760,
        "y": 1720,
        "wires": [
            [
                "cc3338651d7d942e"
            ]
        ]
    },
    {
        "id": "6e888858.a02168",
        "type": "mqtt-broker",
        "name": "myqtthub",
        "broker": "node02.myqtthub.com",
        "port": "8883",
        "tls": "8ef2b1ba.8ce8d",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "nodered/LWT",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "Online",
        "birthMsg": {},
        "closeTopic": "nodered/LWT",
        "closeQos": "0",
        "closePayload": "Offline",
        "closeMsg": {},
        "willTopic": "nodered/LWT",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "Offline",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "0"
    },
    {
        "id": "85814c6a.5b74c",
        "type": "telegram bot",
        "botname": "SantaCeciliaIX_BOT",
        "usernames": "",
        "chatids": "${BOT_IDS}",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": true
    },
    {
        "id": "8ef2b1ba.8ce8d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "77c80ccd.9b2f04",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "estadoo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1380,
        "wires": []
    },
    {
        "id": "d67670d.d1f309",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "47c076582dc80fbc",
        "name": "Respueta info",
        "func": "var msj = \"Bienvenido al bot del *Edificio Santa Cecilia IX*\\r\\n\";\nmsj += \"\\r\\n\";\nmsj += \"/estado - Este comando es usado para verificar el estado actual de la puerta y del garaje, si estan abiertas o cerradas\\r\\n\";\nmsj += \"\\r\\n\";\nmsj += \"/puerta - Este comando permite que la apertura de la puerta no envie mensaje de alarma al superar el tiempo limite para\";\nmsj += \"cancelar la opción se debe cerrar la puerta\\r\\n\";\nmsj += \"\\r\\n\";\nmsj += \"/garaje - Este comando permite que la apertura del garaje no envie mensaje de alarma al superar el tiempo limite para\";\nmsj += \"cancelar la opción se debe cerrar el garaje\\r\\n\";\nmsj += \"\\r\\n\";\nmsj += \"/info - muestra este mensaje\";\n\nmsg.payload.options = {parse_mode : \"Markdown\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1560,
        "wires": [
            [
                "27e88005870313a2"
            ]
        ]
    },
    {
        "id": "6507542a.07ee9c",
        "type": "catch",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 820,
        "y": 60,
        "wires": [
            [
                "4d6364aa.17376c"
            ]
        ]
    },
    {
        "id": "4d6364aa.17376c",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "catch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "b7f6aa26.ae0f58",
        "type": "mqtt out",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "",
        "topic": "cmnd/nodoscix/event",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e888858.a02168",
        "x": 1140,
        "y": 1260,
        "wires": []
    },
    {
        "id": "ffcd40ad.8952b",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "getState",
        "rules": [
            {
                "t": "set",
                "p": "chatid",
                "pt": "flow",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "estado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "b7f6aa26.ae0f58"
            ]
        ]
    },
    {
        "id": "7257379b.8148a8",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "",
        "topic": "stat/nodoscix/estado",
        "qos": "0",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1420,
        "wires": [
            [
                "6b93dbcb.d2eb04"
            ]
        ]
    },
    {
        "id": "c2b9f08d.7d01a",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "name": "multiple inputs",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"stat/nodoscix/puerta\":\n        context.data.puerta = msg.payload;\n        msg = null;\n        break;\n    case \"stat/nodoscix/garaje\":\n        context.data.garaje = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.puerta != null && context.data.garaje != null) {\n    var msj = context.data;\n    context.data=null;\n\treturn {payload:msj};\n} else return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2480,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6b93dbcb.d2eb04",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "sendState",
        "func": "let puerta=\"\",garaje=\"\";\nif(msg.payload == \"00\"){\n    puerta = \"*CERRADA*\";\n    garaje = \"*CERRADO*\";\n}\nelse if(msg.payload == \"01\"){\n    puerta = \"*CERRADA*\";\n    garaje = \"*ABIERTO*\";\n}\nelse if(msg.payload == \"10\"){\n    puerta = \"*ABIERTA*\";\n    garaje = \"*CERRADO*\";\n}\nelse if(msg.payload == \"11\"){\n    puerta = \"*ABIERTA*\";\n    garaje = \"*ABIERTO*\";\n}\n\nconst t1p = flow.get('time1Puerta');\nconst t1g = flow.get('time1Garaje');\nconst tn = new Date().getTime();\nconst tpmin = Math.round((tn - t1p)/60000);\nconst tgmin = Math.round((tn - t1g)/60000);\nconst thpuerta = Math.floor(tpmin/60);\nconst thgaraje = Math.floor(tgmin/60);\nconst tminpuerta = Math.round(((tpmin/60)- thpuerta)*60);\nconst tmingaraje = Math.round(((tgmin/60)- thgaraje)*60);\n\nlet msj = \"✅*INFORMACION:*\\r\\n\";\nmsj += `La *PUERTA* está ${puerta} desde hace ${thpuerta} hora(s) y ${tminpuerta} Minuto(s)`;\nmsj += \"\\r\\n\";\nmsj += `El *GARAJE* está ${garaje} desde hace ${thgaraje} hora(s) y ${tmingaraje} Minuto(s)`;\nmsj += \"\\r\\n\";\nconst cid = flow.get('chatid');\nmsg.payload = {chatId:cid,type:\"message\",content:msj,options:{parse_mode:\"Markdown\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1420,
        "wires": [
            [
                "bd6a0addd0877719"
            ]
        ]
    },
    {
        "id": "d5b0d965.8eeb18",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "63c3d7ac.e67068",
        "name": "",
        "topic": "stat/nodoscix/garaje",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "b8fb60d8.ee7f3"
            ]
        ]
    },
    {
        "id": "428ef7e7.d5dbe8",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "63c3d7ac.e67068",
        "name": "",
        "topic": "stat/nodoscix/puerta",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "96264002.9a23d"
            ]
        ]
    },
    {
        "id": "96264002.9a23d",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "63c3d7ac.e67068",
        "name": "",
        "func": "const lastState = flow.get(\"statePuerta\") || 0;\nconst state = msg.payload;\nflow.set(\"statePuerta\",state);\nif(lastState != state){\n    const time1 = new Date().getTime()\n    const time2 = flow.get('time1Puerta') || 0;\n    flow.set('time1Puerta',time1);\n    flow.set('time2Puerta',time2);\n    msg = null;\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "b8fb60d8.ee7f3",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "63c3d7ac.e67068",
        "name": "",
        "func": "const lastState = flow.get(\"stateGaraje\") || 0;\nconst state = msg.payload;\nflow.set(\"stateGaraje\",state);\nif(lastState != state){\n    const time1 = new Date().getTime()\n    const time2 = flow.get('time1Garaje') || 0;\n    flow.set('time1Garaje',time1)\n    flow.set('time2Garaje',time2)\n    msg = null;\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "fef1a28e.fe6f4",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "topic": "stat/nodoscix/garaje",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "7fe8166c.659e58"
            ]
        ]
    },
    {
        "id": "d3c5caa6.6781d8",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "puerta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 340,
        "wires": []
    },
    {
        "id": "310c0221.6bc6ee",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 830,
        "y": 580,
        "wires": [
            [
                "6d845807.7cd798"
            ]
        ]
    },
    {
        "id": "6d845807.7cd798",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garageOnAlarm",
        "func": "var al = 1;\nflow.set('algaraje',al);\nvar t1p = flow.get('time1Garaje');\nvar tn = new Date().getTime();\nvar tpuerta = Math.round((tn - t1p)/60000);\n\nvar msj = \"⛔️*ALARMA:*⛔️\\r\\n\"\nmsj += \"El *GARAJE* ha estado *ABIERTO* durante \" + tpuerta + \" Minutos\";\nmsj += \"\\r\\n\";\n\nconst id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\nmsg.payload = {chatId:id,type:\"message\",content:msj,options:{parse_mode:\"Markdown\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 560,
        "wires": [
            [
                "f119464a56897860"
            ]
        ]
    },
    {
        "id": "164f1049.55d4a",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garaje",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 680,
        "wires": []
    },
    {
        "id": "4aa8c463.2b2adc",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "6d845807.7cd798"
            ]
        ]
    },
    {
        "id": "7a2a2abb.45d084",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garageClosed",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 760,
        "wires": [
            [
                "4aa8c463.2b2adc",
                "45957e88.d70f6"
            ],
            []
        ]
    },
    {
        "id": "7bb10696.ec2f18",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "str",
        "duration": "8",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 830,
        "y": 620,
        "wires": [
            [
                "4aa8c463.2b2adc"
            ]
        ]
    },
    {
        "id": "45957e88.d70f6",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garageAfterClose",
        "func": "var al = flow.get('algaraje') || 0;\nif(al == 1){\n    al = 0;\n    flow.set('algaraje',al);\n    var t1p = flow.get('time2Garaje');\n    var tn = new Date().getTime();\n    var t = Math.round((tn - t1p)/60000);\n    \n    var msj = \"🟡*CERRADO EN ALARMA:*\\r\\n\"\n    msj += \"El *GARAJE* fue *CERRADO* despues de \" + t + \" Minutos abierto\";\n    msj += \"\\r\\n\";\n    \n    const id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\n    msg.payload = {chatId:id,type:\"message\",content:msj,options:{parse_mode:\"Markdown\"}};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 760,
        "wires": [
            [
                "f119464a56897860"
            ]
        ]
    },
    {
        "id": "ce7185b8.7fb4a8",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1480,
        "y": 140,
        "wires": [
            [
                "385efb29.dfc984",
                "3e28c1b7c7111538"
            ]
        ]
    },
    {
        "id": "fa68e470.9c21e8",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "7f177397.f3946c"
            ]
        ]
    },
    {
        "id": "4b6126a0.a562f8",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "topic": "stat/nodoscix/puerta",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "405c6fda.5d43a"
            ]
        ]
    },
    {
        "id": "7f177397.f3946c",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "doorOnAlarm",
        "func": "var al = 1;\nflow.set('alpuerta',al);\nvar t1p = flow.get('time1Puerta');\nvar tn = new Date().getTime();\nvar tpuerta = Math.round((tn - t1p)/60000);\n\nvar msj = \"⛔️*ALARMA:*⛔️\\r\\n\"\nmsj += \"La *PUERTA* ha estado *ABIERTA* durante \" + tpuerta + \" Minutos\";\nmsj += \"\\r\\n\";\n\nconst id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\n\nmsg.payload = {chatId:id,type:\"message\",content:msj,options:{parse_mode:\"Markdown\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 240,
        "wires": [
            [
                "796e1597dfc2a337"
            ]
        ]
    },
    {
        "id": "7d83a24a.890c0c",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "7f177397.f3946c"
            ]
        ]
    },
    {
        "id": "b37858ce.4e9498",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "doorClosed",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "7d83a24a.890c0c",
                "4ef48cf1.efd764"
            ]
        ]
    },
    {
        "id": "1767c774.af8009",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 890,
        "y": 280,
        "wires": [
            [
                "7d83a24a.890c0c"
            ]
        ]
    },
    {
        "id": "4ef48cf1.efd764",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "doorAfterClose",
        "func": "var al = flow.get('alpuerta') || 0;\nif(al == 1){\n    al = 0;\n    flow.set('alpuerta',al);\n    var t1p = flow.get('time2Puerta');\n    var tn = new Date().getTime();\n    var t = Math.round((tn - t1p)/60000);\n    \n    var msj = \"🟡*CERRADA EN ALARMA:*\\r\\n\"\n    msj += \"La *PUERTA* fue *CERRADA* despues de \" + t + \" Minutos abierta\";\n    msj += \"\\r\\n\";\n\n    const id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\n    \n    msg.payload = { chatId:id,type:\"message\",content:msj,options:{parse_mode:\"Markdown\"}};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 400,
        "wires": [
            [
                "796e1597dfc2a337"
            ]
        ]
    },
    {
        "id": "5c0e0b96.7bbc94",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "resetDoorAlarm",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "alpuerta",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "1767c774.af8009",
                "fa68e470.9c21e8",
                "7d83a24a.890c0c"
            ]
        ]
    },
    {
        "id": "2ae642d2.1472ee",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "doorPermision",
        "func": "var msj = \"Se ha activado la *_apertura de la puerta sin alarma_*, para desactivar por favor *_cerrar la puerta_*\\r\\n\";\nmsg.payload.options = {parse_mode : \"MarkdownV2\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 460,
        "wires": [
            [
                "796e1597dfc2a337"
            ]
        ]
    },
    {
        "id": "8b08b51f.e38ed8",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "5c0e0b96.7bbc94"
            ]
        ]
    },
    {
        "id": "2453dc24.0b2ce4",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "resetDoorAlarm",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "algaraje",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 680,
        "wires": [
            [
                "310c0221.6bc6ee",
                "7bb10696.ec2f18",
                "4aa8c463.2b2adc"
            ]
        ]
    },
    {
        "id": "4e544e88.fe061",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 560,
        "y": 780,
        "wires": [
            [
                "2453dc24.0b2ce4"
            ]
        ]
    },
    {
        "id": "93346df2.d4602",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garagePermission",
        "func": "var msj = \"Se ha activado la *_apertura del garaje sin alarma_*, para desactivar por favor *_cerrar el garaje_*\\r\\n\";\nmsg.payload.options = {parse_mode : \"MarkdownV2\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 820,
        "wires": [
            [
                "f119464a56897860"
            ]
        ]
    },
    {
        "id": "2b1fec0b.6be214",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "Respueta info",
        "func": "var en = flow.get('enabled') || 1;\nen=1;\nflow.set('enabled',en);\nvar msj = \"✅*INFORMACION:*\\r\\n\";\nmsj += \"Se ha *_ACTIVADO el sistema de sensores_*\\r\\n\";\nmsg.payload.options = {parse_mode : \"MarkdownV2\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "63060eabf24e9ef2"
            ]
        ]
    },
    {
        "id": "a82ef763.ac2178",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "5c0e0b96.7bbc94",
                "b989d491ca941f95"
            ]
        ]
    },
    {
        "id": "405c6fda.5d43a",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "8139762bfa28e6c0"
            ]
        ]
    },
    {
        "id": "843e6814.3366a8",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "2453dc24.0b2ce4",
                "8244c9705ff7410f"
            ]
        ]
    },
    {
        "id": "7fe8166c.659e58",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 600,
        "wires": [
            [
                "4617cc5d1d7c857f"
            ]
        ]
    },
    {
        "id": "ce90a758.fd0b78",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "Respueta info",
        "func": "var en = flow.get('enabled') || 0;\nen=0;\nflow.set('enabled',en);\nvar msj = \"✅*INFORMACION:*\\r\\n\";\nmsj += \"Se ha *_DESACTIVADO el sistema de sensores_*\\r\\n\";\nmsg.payload.options = {parse_mode : \"MarkdownV2\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 920,
        "wires": [
            [
                "63060eabf24e9ef2"
            ]
        ]
    },
    {
        "id": "6ff8f66f.63ade8",
        "type": "mqtt out",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "",
        "topic": "cmnd/nodoscix/event",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e888858.a02168",
        "x": 640,
        "y": 1060,
        "wires": []
    },
    {
        "id": "58242d4e.dc9dd4",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "activar",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1060,
        "wires": [
            [
                "6ff8f66f.63ade8"
            ]
        ]
    },
    {
        "id": "908b8a07.657708",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "",
        "topic": "tele/nodoscix/LWT",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1740,
        "wires": [
            [
                "d777ce08.77cde",
                "8328beeb.86a4d"
            ]
        ]
    },
    {
        "id": "aec327ba.c9e758",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "initializeData",
        "func": "",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "const horaActual = new Date().getTime();\nflow.set('time1Puerta', horaActual)\nflow.set('time2Puerta', horaActual)\nflow.set('time1Garaje', horaActual)\nflow.set('time2Garaje', horaActual)\nflow.set('isOnline', true)\nflow.set('enabled',1)\nmsg = null;",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "9c61c2f7.0d51c",
        "type": "comment",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "INFORMACION RELEVANTE",
        "info": "* a tener en cuenta en caso de desconexion o apagado, los tiempos se manejan en nube.\n* offline no funciona bien con myqtthub\n* ",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "41e9e8.30465618",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1920,
        "wires": [
            [
                "588d533d.cd3e5c"
            ]
        ]
    },
    {
        "id": "588d533d.cd3e5c",
        "type": "mqtt out",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "topic": "cmnd/nodoscix/backlog",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e888858.a02168",
        "x": 630,
        "y": 1920,
        "wires": []
    },
    {
        "id": "6d3f9901.d47548",
        "type": "json",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 2040,
        "wires": [
            [
                "fe2c120.7f771f"
            ]
        ]
    },
    {
        "id": "39662b3d.a80ce4",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "topic": "stat/nodoscix/STATUS5",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 2020,
        "wires": [
            [
                "6d3f9901.d47548"
            ]
        ]
    },
    {
        "id": "fe2c120.7f771f",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "Status0",
        "func": "switch(msg.topic){\n    case(\"stat/nodoscix/STATUS5\"):\n        const ip = msg.payload.StatusNET.IPAddress;\n        flow.set('ip',ip);\n        msg = null;\n        break;\n    case (\"stat/nodoscix/STATUS11\"):\n        const uptime = msg.payload.StatusSTS.Uptime;\n        const time = msg.payload.StatusSTS.Time;\n        const ssid = msg.payload.StatusSTS.Wifi.SSId;\n        flow.set('uptime',uptime);\n        flow.set('time',time);\n        flow.set('ssid', ssid);\n        msg = null;\n        break;\n    case(\"stat/nodoscix/STATUS1\"):\n        const restartReason = msg.payload.StatusPRM.RestartReason;\n        flow.set('restartReason', restartReason);\n        msg = null;\n        break;\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2040,
        "wires": []
    },
    {
        "id": "13231ad3.1ec145",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "State",
        "func": "const ip = (flow.get('ip') || \"0\");\nconst ssid = (flow.get('ssid') || \"0\");\nconst uptime = flow.get('uptime') || \"0\";\nconst time = (flow.get('time') || \"0\");\nconst restartReason = flow.get(\"restartReason\") || \"0\";\nlet msj = `__*Hora actualizacion*__: ${time}\\r\\n__*SSID*__: ${ssid}\\r\\n`;\nmsj += `__*IP*__: ${ip}\\r\\n__*Uptime*__: ${uptime}\\r\\n`;\nmsj += `__*Restart Reason*__: ${restartReason}`\n\nconst parsedmsj = msj\n    .replaceAll(\".\", \"\\\\.\")\n    .replaceAll(\"-\", \"\\\\-\");\n\nmsg.payload.options = { parse_mode: \"MarkdownV2\" };\nmsg.payload.content = parsedmsj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1880,
        "wires": [
            [
                "c782aee25dcb2d7e"
            ]
        ]
    },
    {
        "id": "7d8af354.34c09c",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 340,
        "y": 1880,
        "wires": [
            [
                "13231ad3.1ec145"
            ]
        ]
    },
    {
        "id": "6b84058d.233b8c",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "INIT",
        "func": "context.data = context.data || {};\nswitch (msg.topic) {\n    case \"tele/nodoscix/STATE\":\n        const up = msg.payload.Uptime;\n        const time = msg.payload.Time;\n        context.data.Uptime = up\n        context.data.Time = time.replaceAll(\"-\",\"\\\\-\");\n        msg = null;\n        break;\n    case \"tele/nodoscix/INFO2\":\n        const ip = msg.payload.Info2.IPAddress\n        context.data.IP = ip.replaceAll(\".\", \"\\\\.\");\n        msg = null;\n        break;\n    case \"tele/nodoscix/INFO3\":\n        context.data.RestartReason = msg.payload.Info3.RestartReason;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.Uptime && context.data.IP && context.data.RestartReason){\n    let msj = \"🔵*INIT*\\r\\n\"\n    msj += `__*Hora*__: ${context.data.Time} \\r\\n__*Uptime*__: ${context.data.Uptime}\\r\\n__*IP*__: ${context.data.IP}\\r\\n__*Restart Reason*__: ${context.data.RestartReason}`;\n    context.data={};\n    const id = Number(env.get(\"BOT_IDS\").split(\",\", 2)[1]);\n    msg = {\n        payload: {\n            chatId:id,\n            type:\"message\",\n            content:msj,\n            options:{\n                parse_mode:\"MarkdownV2\"}\n        }\n    };\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2220,
        "wires": [
            [
                "8372c6341a3b12f4"
            ]
        ]
    },
    {
        "id": "2d212b1a.cf5854",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "",
        "topic": "tele/nodoscix/INFO2",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2180,
        "wires": [
            [
                "c117387f.c1ee78"
            ]
        ]
    },
    {
        "id": "c117387f.c1ee78",
        "type": "json",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 2220,
        "wires": [
            [
                "6b84058d.233b8c"
            ]
        ]
    },
    {
        "id": "a31a69eb.04e658",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "LWT OFFLINE",
        "func": "if(msg.payload == \"Offline\" ){\n    const horaActual = new Date();\n    flow.set(\"isOnline\",false);\n    const msj = `🟠*DESCONEXION*:\nHora Desconexion: ${horaActual.toLocaleString()}\nEl Nodo se ha *DESCONECTADO*`;\n    flow.set(\"offlineTime\", horaActual);\n    const telegramId = Number(env.get(\"BOT_IDS\").split(\",\", 2)[1]);\n    msg = {\n        payload: {\n            chatId: telegramId,\n            type: \"message\",\n            content: msj,\n            options: {\n                parse_mode: \"Markdown\"\n            }\n        }\n    };\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1700,
        "wires": [
            [
                "f559b37152f4d9f9"
            ]
        ]
    },
    {
        "id": "d777ce08.77cde",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "Online",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 1700,
        "wires": [
            [
                "a31a69eb.04e658"
            ]
        ]
    },
    {
        "id": "20e44cc0.d4eb94",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "topic": "stat/nodoscix/STATUS11",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 2060,
        "wires": [
            [
                "6d3f9901.d47548"
            ]
        ]
    },
    {
        "id": "e6e8375c.abf958",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "",
        "topic": "tele/nodoscix/INFO3",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2220,
        "wires": [
            [
                "c117387f.c1ee78"
            ]
        ]
    },
    {
        "id": "cb4c3936.232468",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "",
        "topic": "tele/nodoscix/STATE",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2260,
        "wires": [
            [
                "c117387f.c1ee78"
            ]
        ]
    },
    {
        "id": "8328beeb.86a4d",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "LWT ONLINE",
        "func": "if(msg.payload == \"Online\" && flow.get(\"isOnline\") === false){\n    const nowTime = new Date();\n    flow.set(\"onlineTime\", nowTime);\n    flow.set(\"isOnline\", true);\n    const offlineTime = flow.get(\"offlineTime\");\n    const downTimeMili = nowTime.getTime() - offlineTime.getTime(); \n    const downTimeMinutes = Math.round(downTimeMili/60000);\n    const downTimeHours = Math.floor(downTimeMinutes/60);\n    const msgBody = `🟢*CONEXION*:\nHora Conexion: ${nowTime.toLocaleString()}\nDowntime: *${downTimeHours}* Horas y *${downTimeMinutes}* Minutos`;\n    \n    const telegramId = Number(env.get(\"BOT_IDS\").split(\",\", 2)[1]);\n    msg = {\n        payload: {\n            chatId: telegramId,\n            type: \"message\",\n            content: msgBody,\n            options: {\n                parse_mode: \"Markdown\"\n            }\n        }\n    };\n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1740,
        "wires": [
            [
                "f559b37152f4d9f9"
            ]
        ]
    },
    {
        "id": "fcc08346.cf557",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "47c076582dc80fbc",
        "name": "",
        "command": "/info@SantaCeciliaBot",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 160,
        "y": 1560,
        "wires": [
            [
                "d67670d.d1f309"
            ]
        ]
    },
    {
        "id": "d3e9d7f7.47fcc8",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "command": "/puerta@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "a82ef763.ac2178"
            ]
        ]
    },
    {
        "id": "f495ec5d.e813",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "",
        "command": "/estado@SantaCeciliaBot",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "e36a7990f0a5746e"
            ]
        ]
    },
    {
        "id": "4c04c450.b0bdfc",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "command": "/garaje@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "843e6814.3366a8"
            ]
        ]
    },
    {
        "id": "47586b44.bcf224",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "",
        "command": "/activar@SantaCeciliaBot",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "2b1fec0b.6be214",
                "58242d4e.dc9dd4"
            ]
        ]
    },
    {
        "id": "62a1c92e.6081d8",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "command": "/desactivar@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "9f21ded22803e4cd"
            ]
        ]
    },
    {
        "id": "14e2754a.875fdb",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "command": "/desactivar@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "5d92499ce6651062"
            ]
        ]
    },
    {
        "id": "8d8a7491.7c84e8",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "",
        "command": "/desactivar@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": true,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 180,
        "y": 920,
        "wires": [
            [
                "ce90a758.fd0b78"
            ]
        ]
    },
    {
        "id": "6d3303f4.bfbafc",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "command": "/state",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 110,
        "y": 1920,
        "wires": [
            [
                "41e9e8.30465618",
                "7d8af354.34c09c"
            ]
        ]
    },
    {
        "id": "385efb29.dfc984",
        "type": "telegram sender",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "",
        "bot": "85814c6a.5b74c",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1710,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f971341755268546",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "msg handler",
        "func": "const id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\nif (msg.payload.chatId === id){\n    return [msg,null];\n}\nelse{\n    return[null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 120,
        "wires": [
            [
                "26fa7976d5283062"
            ],
            [
                "ce7185b8.7fb4a8"
            ]
        ]
    },
    {
        "id": "26fa7976d5283062",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1480,
        "y": 100,
        "wires": [
            [
                "385efb29.dfc984",
                "3e28c1b7c7111538"
            ]
        ]
    },
    {
        "id": "3e28c1b7c7111538",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "salida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 60,
        "wires": []
    },
    {
        "id": "34141c87479d9471",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "topic": "stat/nodoscix/STATUS1",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1980,
        "wires": [
            [
                "6d3f9901.d47548"
            ]
        ]
    },
    {
        "id": "f5c8b64cf8f9cbd7",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 1260,
        "wires": [
            [
                "ffcd40ad.8952b",
                "77c80ccd.9b2f04"
            ],
            [
                "2637a656ab5e7fa2"
            ]
        ]
    },
    {
        "id": "2637a656ab5e7fa2",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "advertencia",
        "func": "var msj = \"⚠️*ADVERTENCIA*⚠️:\\r\\n\";\nmsj += \"El sistema esta *DESACTIVADO*\\r\\n\";\nmsg.payload.options = { parse_mode : \"MarkdownV2\" };\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1300,
        "wires": [
            [
                "ffcd40ad.8952b"
            ]
        ]
    },
    {
        "id": "e36a7990f0a5746e",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "online",
        "property": "isOnline",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1280,
        "wires": [
            [
                "f5c8b64cf8f9cbd7"
            ],
            [
                "4353bb2c5cc5e752"
            ]
        ]
    },
    {
        "id": "4353bb2c5cc5e752",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "offline_msg",
        "func": "var msj = \"🔴*DESCONECTADO*:\\r\\n\";\nmsj += \"El sistema esta *DESCONECTADO*\\r\\n\";\nmsg.payload.options = { parse_mode : \"MarkdownV2\" };\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1360,
        "wires": [
            [
                "bd6a0addd0877719"
            ]
        ]
    },
    {
        "id": "08bd6337038bab4d",
        "type": "complete",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "scope": [
            "4353bb2c5cc5e752"
        ],
        "uncaught": false,
        "x": 210,
        "y": 800,
        "wires": [
            [
                "5d92499ce6651062"
            ]
        ]
    },
    {
        "id": "ac5a0793c01b0522",
        "type": "complete",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "scope": [
            "4353bb2c5cc5e752"
        ],
        "uncaught": false,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "9f21ded22803e4cd"
            ]
        ]
    },
    {
        "id": "0d411e93da087075",
        "type": "link in",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "inMsgHandler",
        "links": [
            "1e7eabd610a997b7",
            "25051a7c06ae871b",
            "df1e754784f23707",
            "a587555f51e3aa6d",
            "27e88005870313a2",
            "cc3338651d7d942e",
            "c782aee25dcb2d7e",
            "8372c6341a3b12f4"
        ],
        "x": 1175,
        "y": 120,
        "wires": [
            [
                "f971341755268546"
            ]
        ]
    },
    {
        "id": "1e7eabd610a997b7",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 1655,
        "y": 360,
        "wires": []
    },
    {
        "id": "25051a7c06ae871b",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 1595,
        "y": 700,
        "wires": []
    },
    {
        "id": "df1e754784f23707",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 1065,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a587555f51e3aa6d",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 1245,
        "y": 1400,
        "wires": []
    },
    {
        "id": "27e88005870313a2",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "47c076582dc80fbc",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 705,
        "y": 1560,
        "wires": []
    },
    {
        "id": "cc3338651d7d942e",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 855,
        "y": 1720,
        "wires": []
    },
    {
        "id": "c782aee25dcb2d7e",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 805,
        "y": 1880,
        "wires": []
    },
    {
        "id": "8372c6341a3b12f4",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 675,
        "y": 2220,
        "wires": []
    },
    {
        "id": "3c7ac65b882772b9",
        "type": "mqtt out",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "",
        "topic": "cmnd/nodoscix/event",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e888858.a02168",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "2d3e46a51a73f6bc",
        "type": "inject",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "activar",
        "payloadType": "str",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "3c7ac65b882772b9"
            ]
        ]
    },
    {
        "id": "a5f7d6a9f76aaeb8",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "name": "console",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 240,
        "wires": []
    }
]