flows.json
[
    {
        "id": "8595b6d4.a51f68",
        "type": "tab",
        "label": "Sensores_Edificio",
        "disabled": false,
        "info": "Manejo de telegram para edificio"
    },
    {
        "id": "63c3d7ac.e67068",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d5b0d965.8eeb18",
            "428ef7e7.d5dbe8",
            "96264002.9a23d",
            "b8fb60d8.ee7f3"
        ],
        "x": 34,
        "y": 19,
        "w": 412,
        "h": 142
    },
    {
        "id": "e4ce36e5bac75fcf",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "name": "MsgOutput",
        "style": {
            "label": true
        },
        "nodes": [
            "ce7185b8.7fb4a8",
            "385efb29.dfc984",
            "f971341755268546",
            "26fa7976d5283062",
            "3e28c1b7c7111538",
            "0d411e93da087075"
        ],
        "x": 1134,
        "y": 19,
        "w": 712,
        "h": 162
    },
    {
        "id": "ce445830e294e73e",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2b1fec0b.6be214",
            "ce90a758.fd0b78",
            "6ff8f66f.63ade8",
            "58242d4e.dc9dd4",
            "47586b44.bcf224",
            "8d8a7491.7c84e8",
            "df1e754784f23707",
            "63060eabf24e9ef2"
        ],
        "x": 34,
        "y": 879,
        "w": 1072,
        "h": 302
    },
    {
        "id": "ebda3edd388e326b",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "77c80ccd.9b2f04",
            "b7f6aa26.ae0f58",
            "ffcd40ad.8952b",
            "7257379b.8148a8",
            "6b93dbcb.d2eb04",
            "f495ec5d.e813",
            "f5c8b64cf8f9cbd7",
            "2637a656ab5e7fa2",
            "e36a7990f0a5746e",
            "4353bb2c5cc5e752",
            "a587555f51e3aa6d",
            "bd6a0addd0877719"
        ],
        "x": 34,
        "y": 1219,
        "w": 1252,
        "h": 242
    },
    {
        "id": "47c076582dc80fbc",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d67670d.d1f309",
            "fcc08346.cf557",
            "27e88005870313a2"
        ],
        "x": 34,
        "y": 1519,
        "w": 712,
        "h": 82
    },
    {
        "id": "266f0d0a4b0823a3",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "908b8a07.657708",
            "a31a69eb.04e658",
            "d777ce08.77cde",
            "8328beeb.86a4d",
            "cc3338651d7d942e",
            "f559b37152f4d9f9"
        ],
        "x": 34,
        "y": 1659,
        "w": 862,
        "h": 122
    },
    {
        "id": "3e8374dc213cbb02",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "41e9e8.30465618",
            "588d533d.cd3e5c",
            "6d3f9901.d47548",
            "39662b3d.a80ce4",
            "fe2c120.7f771f",
            "13231ad3.1ec145",
            "7d8af354.34c09c",
            "20e44cc0.d4eb94",
            "6d3303f4.bfbafc",
            "34141c87479d9471",
            "c782aee25dcb2d7e"
        ],
        "x": 34,
        "y": 1999,
        "w": 812,
        "h": 302
    },
    {
        "id": "95f1c954a3dea647",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6b84058d.233b8c",
            "2d212b1a.cf5854",
            "c117387f.c1ee78",
            "e6e8375c.abf958",
            "cb4c3936.232468",
            "8372c6341a3b12f4"
        ],
        "x": 34,
        "y": 2359,
        "w": 682,
        "h": 162
    },
    {
        "id": "963115cd91677219",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d3c5caa6.6781d8",
            "fa68e470.9c21e8",
            "4b6126a0.a562f8",
            "7f177397.f3946c",
            "7d83a24a.890c0c",
            "b37858ce.4e9498",
            "1767c774.af8009",
            "4ef48cf1.efd764",
            "5c0e0b96.7bbc94",
            "2ae642d2.1472ee",
            "8b08b51f.e38ed8",
            "a82ef763.ac2178",
            "405c6fda.5d43a",
            "d3e9d7f7.47fcc8",
            "62a1c92e.6081d8",
            "ac5a0793c01b0522",
            "1e7eabd610a997b7",
            "796e1597dfc2a337",
            "8139762bfa28e6c0",
            "b989d491ca941f95",
            "9f21ded22803e4cd"
        ],
        "x": 34,
        "y": 199,
        "w": 1662,
        "h": 302
    },
    {
        "id": "7fccb777c862da50",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "fef1a28e.fe6f4",
            "310c0221.6bc6ee",
            "6d845807.7cd798",
            "164f1049.55d4a",
            "4aa8c463.2b2adc",
            "7a2a2abb.45d084",
            "7bb10696.ec2f18",
            "45957e88.d70f6",
            "2453dc24.0b2ce4",
            "4e544e88.fe061",
            "93346df2.d4602",
            "843e6814.3366a8",
            "7fe8166c.659e58",
            "4c04c450.b0bdfc",
            "14e2754a.875fdb",
            "08bd6337038bab4d",
            "25051a7c06ae871b",
            "4617cc5d1d7c857f",
            "f119464a56897860",
            "5d92499ce6651062",
            "8244c9705ff7410f"
        ],
        "x": 34,
        "y": 519,
        "w": 1602,
        "h": 342
    },
    {
        "id": "76fc0a591b5308f6",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6507542a.07ee9c",
            "4d6364aa.17376c",
            "aec327ba.c9e758",
            "9c61c2f7.0d51c",
            "3c7ac65b882772b9",
            "2d3e46a51a73f6bc"
        ],
        "x": 474,
        "y": 19,
        "w": 632,
        "h": 162
    },
    {
        "id": "878f49933484483e",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "bae483c1c348b5ba",
            "94c0604a09d77668",
            "1dbaa1cbdf837ac8",
            "0cb80fb961424dd0",
            "f650bc11d0aadf85",
            "827d5d46968c3b88"
        ],
        "x": 1114,
        "y": 2159,
        "w": 812,
        "h": 142
    },
    {
        "id": "6b7c499946c5043b",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bd5a36105bab329e",
            "7db9e1c5e117fc3a",
            "f0b628f92c930850",
            "a3b0b0e0f143eb19",
            "937784883319826d",
            "8ec89138951a5750",
            "626847f2f4992720",
            "029343bb6ad121a4",
            "eb6f5c8321075c93",
            "b81fdac255d63ce4",
            "ea10c09cd7553280",
            "92185363722ea44f",
            "db6fd6070db48558",
            "99936694fa3ed9ee",
            "ad68ab6c59717671"
        ],
        "x": 1074,
        "y": 1619,
        "w": 992,
        "h": 442
    },
    {
        "id": "bf03fe339239aac5",
        "type": "group",
        "z": "8595b6d4.a51f68",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5305894ec14e2495",
            "b86812baddfd30b0"
        ],
        "x": 34,
        "y": 1819,
        "w": 492,
        "h": 82
    },
    {
        "id": "4617cc5d1d7c857f",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "x": 680,
        "y": 600,
        "wires": [
            [
                "310c0221.6bc6ee",
                "7bb10696.ec2f18",
                "7a2a2abb.45d084"
            ]
        ]
    },
    {
        "id": "796e1597dfc2a337",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "x": 1600,
        "y": 360,
        "wires": [
            [
                "1e7eabd610a997b7"
            ]
        ]
    },
    {
        "id": "f119464a56897860",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "x": 1500,
        "y": 700,
        "wires": [
            [
                "25051a7c06ae871b"
            ]
        ]
    },
    {
        "id": "8139762bfa28e6c0",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "x": 680,
        "y": 260,
        "wires": [
            [
                "b37858ce.4e9498",
                "1767c774.af8009",
                "fa68e470.9c21e8"
            ]
        ]
    },
    {
        "id": "b989d491ca941f95",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "2ae642d2.1472ee",
                "8b08b51f.e38ed8"
            ]
        ]
    },
    {
        "id": "9f21ded22803e4cd",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "5c0e0b96.7bbc94"
            ]
        ]
    },
    {
        "id": "5d92499ce6651062",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "2453dc24.0b2ce4"
            ]
        ]
    },
    {
        "id": "8244c9705ff7410f",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "x": 460,
        "y": 820,
        "wires": [
            [
                "93346df2.d4602",
                "4e544e88.fe061"
            ]
        ]
    },
    {
        "id": "63060eabf24e9ef2",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "x": 1000,
        "y": 1020,
        "wires": [
            [
                "df1e754784f23707"
            ]
        ]
    },
    {
        "id": "bd6a0addd0877719",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "x": 1040,
        "y": 1400,
        "wires": [
            [
                "a587555f51e3aa6d"
            ]
        ]
    },
    {
        "id": "f559b37152f4d9f9",
        "type": "junction",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "x": 760,
        "y": 1720,
        "wires": [
            [
                "cc3338651d7d942e"
            ]
        ]
    },
    {
        "id": "6e888858.a02168",
        "type": "mqtt-broker",
        "name": "myqtthub",
        "broker": "${MQTT_HOST}",
        "port": "8883",
        "tls": "8ef2b1ba.8ce8d",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "nodered/LWT",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "Online",
        "birthMsg": {},
        "closeTopic": "nodered/LWT",
        "closeQos": "0",
        "closePayload": "Offline",
        "closeMsg": {},
        "willTopic": "nodered/LWT",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "Offline",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "0"
    },
    {
        "id": "85814c6a.5b74c",
        "type": "telegram bot",
        "botname": "SantaCeciliaIX_BOT",
        "usernames": "",
        "chatids": "${BOT_IDS}",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": "900",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": true
    },
    {
        "id": "8ef2b1ba.8ce8d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "b85ac332c10db1fa",
        "type": "chatbot-slack-node",
        "botname": "SLACK_SCIX",
        "usernames": "",
        "store": "",
        "log": "",
        "debug": false,
        "serverPort": "",
        "useWebSocket": true,
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "77c80ccd.9b2f04",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "estadoo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d67670d.d1f309",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "47c076582dc80fbc",
        "name": "Respueta info",
        "func": "var msj = \"Bienvenido al bot del *Edificio Santa Cecilia IX*\\r\\n\";\nmsj += \"\\r\\n\";\nmsj += \"/estado - Este comando es usado para verificar el estado actual de la puerta y del garaje, si estan abiertas o cerradas\\r\\n\";\nmsj += \"\\r\\n\";\nmsj += \"/puerta - Este comando permite que la apertura de la puerta no envie mensaje de alarma al superar el tiempo limite para\";\nmsj += \"cancelar la opción se debe cerrar la puerta\\r\\n\";\nmsj += \"\\r\\n\";\nmsj += \"/garaje - Este comando permite que la apertura del garaje no envie mensaje de alarma al superar el tiempo limite para\";\nmsj += \"cancelar la opción se debe cerrar el garaje\\r\\n\";\nmsj += \"\\r\\n\";\nmsj += \"/info - muestra este mensaje\";\n\nmsg.payload.options = {parse_mode : \"Markdown\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1560,
        "wires": [
            [
                "27e88005870313a2"
            ]
        ]
    },
    {
        "id": "6507542a.07ee9c",
        "type": "catch",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 820,
        "y": 60,
        "wires": [
            [
                "4d6364aa.17376c"
            ]
        ]
    },
    {
        "id": "4d6364aa.17376c",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "catch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "b7f6aa26.ae0f58",
        "type": "mqtt out",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "",
        "topic": "cmnd/nodoscix/event",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e888858.a02168",
        "x": 1140,
        "y": 1260,
        "wires": []
    },
    {
        "id": "ffcd40ad.8952b",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "getState",
        "rules": [
            {
                "t": "set",
                "p": "chatid",
                "pt": "flow",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "estado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "b7f6aa26.ae0f58"
            ]
        ]
    },
    {
        "id": "7257379b.8148a8",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "",
        "topic": "stat/nodoscix/estado",
        "qos": "0",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1420,
        "wires": [
            [
                "6b93dbcb.d2eb04"
            ]
        ]
    },
    {
        "id": "c2b9f08d.7d01a",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "name": "multiple inputs",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"stat/nodoscix/puerta\":\n        context.data.puerta = msg.payload;\n        msg = null;\n        break;\n    case \"stat/nodoscix/garaje\":\n        context.data.garaje = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.puerta != null && context.data.garaje != null) {\n    var msj = context.data;\n    context.data=null;\n\treturn {payload:msj};\n} else return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6b93dbcb.d2eb04",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "sendState",
        "func": "let puerta=\"\",garaje=\"\";\nif(msg.payload == \"00\"){\n    puerta = \"*CERRADA*\";\n    garaje = \"*CERRADO*\";\n}\nelse if(msg.payload == \"01\"){\n    puerta = \"*CERRADA*\";\n    garaje = \"*ABIERTO*\";\n}\nelse if(msg.payload == \"10\"){\n    puerta = \"*ABIERTA*\";\n    garaje = \"*CERRADO*\";\n}\nelse if(msg.payload == \"11\"){\n    puerta = \"*ABIERTA*\";\n    garaje = \"*ABIERTO*\";\n}\n\nconst t1p = flow.get('time1Puerta');\nconst t1g = flow.get('time1Garaje');\nconst tn = new Date().getTime();\nconst tpmin = Math.round((tn - t1p)/60000);\nconst tgmin = Math.round((tn - t1g)/60000);\nconst thpuerta = Math.floor(tpmin/60);\nconst thgaraje = Math.floor(tgmin/60);\nconst tminpuerta = Math.round(((tpmin/60)- thpuerta)*60);\nconst tmingaraje = Math.round(((tgmin/60)- thgaraje)*60);\n\nlet msj = \"✅*INFORMACION:*\\r\\n\";\nmsj += `La *PUERTA* está ${puerta} desde hace ${thpuerta} hora(s) y ${tminpuerta} Minuto(s)`;\nmsj += \"\\r\\n\";\nmsj += `El *GARAJE* está ${garaje} desde hace ${thgaraje} hora(s) y ${tmingaraje} Minuto(s)`;\nmsj += \"\\r\\n\";\nconst cid = flow.get('chatid');\nmsg.payload = {\n    chatId:cid,\n    type:\"message\",\n    content:msj,\n    options:{\n        parse_mode:\"Markdown\"\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1420,
        "wires": [
            [
                "bd6a0addd0877719"
            ]
        ]
    },
    {
        "id": "d5b0d965.8eeb18",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "63c3d7ac.e67068",
        "name": "",
        "topic": "stat/nodoscix/garaje",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "b8fb60d8.ee7f3"
            ]
        ]
    },
    {
        "id": "428ef7e7.d5dbe8",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "63c3d7ac.e67068",
        "name": "",
        "topic": "stat/nodoscix/puerta",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "96264002.9a23d"
            ]
        ]
    },
    {
        "id": "96264002.9a23d",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "63c3d7ac.e67068",
        "name": "",
        "func": "const lastState = flow.get(\"statePuerta\") || 0;\nconst state = msg.payload;\nflow.set(\"statePuerta\",state);\nif(lastState != state){\n    const time1 = new Date().getTime()\n    const time2 = flow.get('time1Puerta') || 0;\n    flow.set('time1Puerta',time1);\n    flow.set('time2Puerta',time2);\n    msg = null;\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "b8fb60d8.ee7f3",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "63c3d7ac.e67068",
        "name": "",
        "func": "const lastState = flow.get(\"stateGaraje\") || 0;\nconst state = msg.payload;\nflow.set(\"stateGaraje\",state);\nif(lastState != state){\n    const time1 = new Date().getTime()\n    const time2 = flow.get('time1Garaje') || 0;\n    flow.set('time1Garaje',time1)\n    flow.set('time2Garaje',time2)\n    msg = null;\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "fef1a28e.fe6f4",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "topic": "stat/nodoscix/garaje",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "7fe8166c.659e58"
            ]
        ]
    },
    {
        "id": "d3c5caa6.6781d8",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "puerta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 340,
        "wires": []
    },
    {
        "id": "310c0221.6bc6ee",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 830,
        "y": 580,
        "wires": [
            [
                "6d845807.7cd798"
            ]
        ]
    },
    {
        "id": "6d845807.7cd798",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garageOnAlarm",
        "func": "var al = 1;\nflow.set('algaraje',al);\nvar t1p = flow.get('time1Garaje');\nvar tn = new Date().getTime();\nvar tpuerta = Math.round((tn - t1p)/60000);\n\nvar msj = \"⛔️*ALARMA:*⛔️\\r\\n\"\nmsj += \"El *GARAJE* ha estado *ABIERTO* durante \" + tpuerta + \" Minutos\";\nmsj += \"\\r\\n\";\n\nconst id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\nmsg.payload = {chatId:id,type:\"message\",content:msj,options:{parse_mode:\"Markdown\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 560,
        "wires": [
            [
                "f119464a56897860"
            ]
        ]
    },
    {
        "id": "164f1049.55d4a",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garaje",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 680,
        "wires": []
    },
    {
        "id": "4aa8c463.2b2adc",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "6d845807.7cd798"
            ]
        ]
    },
    {
        "id": "7a2a2abb.45d084",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garageClosed",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 760,
        "wires": [
            [
                "4aa8c463.2b2adc",
                "45957e88.d70f6"
            ],
            []
        ]
    },
    {
        "id": "7bb10696.ec2f18",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "str",
        "duration": "8",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 830,
        "y": 620,
        "wires": [
            [
                "4aa8c463.2b2adc"
            ]
        ]
    },
    {
        "id": "45957e88.d70f6",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garageAfterClose",
        "func": "var al = flow.get('algaraje') || 0;\nif(al == 1){\n    al = 0;\n    flow.set('algaraje',al);\n    var t1p = flow.get('time2Garaje');\n    var tn = new Date().getTime();\n    var t = Math.round((tn - t1p)/60000);\n    \n    var msj = \"🟡*CERRADO EN ALARMA:*\\r\\n\"\n    msj += \"El *GARAJE* fue *CERRADO* despues de \" + t + \" Minutos abierto\";\n    msj += \"\\r\\n\";\n    \n    const id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\n    msg.payload = {chatId:id,type:\"message\",content:msj,options:{parse_mode:\"Markdown\"}};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 760,
        "wires": [
            [
                "f119464a56897860"
            ]
        ]
    },
    {
        "id": "ce7185b8.7fb4a8",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1470,
        "y": 140,
        "wires": [
            [
                "385efb29.dfc984",
                "3e28c1b7c7111538"
            ]
        ]
    },
    {
        "id": "fa68e470.9c21e8",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "7f177397.f3946c"
            ]
        ]
    },
    {
        "id": "4b6126a0.a562f8",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "topic": "stat/nodoscix/puerta",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "405c6fda.5d43a"
            ]
        ]
    },
    {
        "id": "7f177397.f3946c",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "doorOnAlarm",
        "func": "var al = 1;\nflow.set('alpuerta',al);\nvar t1p = flow.get('time1Puerta');\nvar tn = new Date().getTime();\nvar tpuerta = Math.round((tn - t1p)/60000);\n\nvar msj = \"⛔️*ALARMA:*⛔️\\r\\n\"\nmsj += \"La *PUERTA* ha estado *ABIERTA* durante \" + tpuerta + \" Minutos\";\nmsj += \"\\r\\n\";\n\nconst id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\n\nmsg.payload = {chatId:id,type:\"message\",content:msj,options:{parse_mode:\"Markdown\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 240,
        "wires": [
            [
                "796e1597dfc2a337"
            ]
        ]
    },
    {
        "id": "7d83a24a.890c0c",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "7f177397.f3946c"
            ]
        ]
    },
    {
        "id": "b37858ce.4e9498",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "doorClosed",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "7d83a24a.890c0c",
                "4ef48cf1.efd764"
            ]
        ]
    },
    {
        "id": "1767c774.af8009",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 890,
        "y": 280,
        "wires": [
            [
                "7d83a24a.890c0c"
            ]
        ]
    },
    {
        "id": "4ef48cf1.efd764",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "doorAfterClose",
        "func": "var al = flow.get('alpuerta') || 0;\nif(al == 1){\n    al = 0;\n    flow.set('alpuerta',al);\n    var t1p = flow.get('time2Puerta');\n    var tn = new Date().getTime();\n    var t = Math.round((tn - t1p)/60000);\n    \n    var msj = \"🟡*CERRADA EN ALARMA:*\\r\\n\"\n    msj += \"La *PUERTA* fue *CERRADA* despues de \" + t + \" Minutos abierta\";\n    msj += \"\\r\\n\";\n\n    const id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\n    \n    msg.payload = { chatId:id,type:\"message\",content:msj,options:{parse_mode:\"Markdown\"}};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 400,
        "wires": [
            [
                "796e1597dfc2a337"
            ]
        ]
    },
    {
        "id": "5c0e0b96.7bbc94",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "resetDoorAlarm",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "alpuerta",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "1767c774.af8009",
                "fa68e470.9c21e8",
                "7d83a24a.890c0c"
            ]
        ]
    },
    {
        "id": "2ae642d2.1472ee",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "doorPermision",
        "func": "var msj = \"Se ha activado la *_apertura de la puerta sin alarma_*, para desactivar por favor *_cerrar la puerta_*\\r\\n\";\nmsg.payload.options = {parse_mode : \"MarkdownV2\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 460,
        "wires": [
            [
                "796e1597dfc2a337"
            ]
        ]
    },
    {
        "id": "8b08b51f.e38ed8",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "5c0e0b96.7bbc94"
            ]
        ]
    },
    {
        "id": "2453dc24.0b2ce4",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "resetDoorAlarm",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "algaraje",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 680,
        "wires": [
            [
                "310c0221.6bc6ee",
                "7bb10696.ec2f18",
                "4aa8c463.2b2adc"
            ]
        ]
    },
    {
        "id": "4e544e88.fe061",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 560,
        "y": 780,
        "wires": [
            [
                "2453dc24.0b2ce4"
            ]
        ]
    },
    {
        "id": "93346df2.d4602",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "garagePermission",
        "func": "var msj = \"Se ha activado la *_apertura del garaje sin alarma_*, para desactivar por favor *_cerrar el garaje_*\\r\\n\";\nmsg.payload.options = {parse_mode : \"MarkdownV2\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 820,
        "wires": [
            [
                "f119464a56897860"
            ]
        ]
    },
    {
        "id": "2b1fec0b.6be214",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "Respueta info",
        "func": "var en = flow.get('enabled') || 1;\nen=1;\nflow.set('enabled',en);\nvar msj = \"✅*INFORMACION:*\\r\\n\";\nmsj += \"Se ha *_ACTIVADO el sistema de sensores_*\\r\\n\";\nmsg.payload.options = {parse_mode : \"MarkdownV2\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "63060eabf24e9ef2"
            ]
        ]
    },
    {
        "id": "a82ef763.ac2178",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "5c0e0b96.7bbc94",
                "b989d491ca941f95"
            ]
        ]
    },
    {
        "id": "405c6fda.5d43a",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "8139762bfa28e6c0"
            ]
        ]
    },
    {
        "id": "843e6814.3366a8",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "2453dc24.0b2ce4",
                "8244c9705ff7410f"
            ]
        ]
    },
    {
        "id": "7fe8166c.659e58",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 600,
        "wires": [
            [
                "4617cc5d1d7c857f"
            ]
        ]
    },
    {
        "id": "ce90a758.fd0b78",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "Respueta info",
        "func": "var en = flow.get('enabled') || 0;\nen=0;\nflow.set('enabled',en);\nvar msj = \"✅*INFORMACION:*\\r\\n\";\nmsj += \"Se ha *_DESACTIVADO el sistema de sensores_*\\r\\n\";\nmsg.payload.options = {parse_mode : \"MarkdownV2\"};\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 920,
        "wires": [
            [
                "63060eabf24e9ef2"
            ]
        ]
    },
    {
        "id": "6ff8f66f.63ade8",
        "type": "mqtt out",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "",
        "topic": "cmnd/nodoscix/event",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e888858.a02168",
        "x": 640,
        "y": 1060,
        "wires": []
    },
    {
        "id": "58242d4e.dc9dd4",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "activar",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1060,
        "wires": [
            [
                "6ff8f66f.63ade8"
            ]
        ]
    },
    {
        "id": "908b8a07.657708",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "",
        "topic": "tele/nodoscix/LWT",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1740,
        "wires": [
            [
                "d777ce08.77cde",
                "8328beeb.86a4d"
            ]
        ]
    },
    {
        "id": "aec327ba.c9e758",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "initializeData",
        "func": "",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "const horaActual = new Date().getTime();\nflow.set('time1Puerta', horaActual)\nflow.set('time2Puerta', horaActual)\nflow.set('time1Garaje', horaActual)\nflow.set('time2Garaje', horaActual)\nflow.set('isOnline', true)\nflow.set('enabled',1)\nflow.set('publicIP',\"\")\nmsg = null;",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "9c61c2f7.0d51c",
        "type": "comment",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "INFORMACION RELEVANTE",
        "info": "* a tener en cuenta en caso de desconexion o apagado, los tiempos se manejan en nube.\n* offline no funciona bien con myqtthub\n* ",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "41e9e8.30465618",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2120,
        "wires": [
            [
                "588d533d.cd3e5c"
            ]
        ]
    },
    {
        "id": "588d533d.cd3e5c",
        "type": "mqtt out",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "topic": "cmnd/nodoscix/backlog",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e888858.a02168",
        "x": 650,
        "y": 2120,
        "wires": []
    },
    {
        "id": "6d3f9901.d47548",
        "type": "json",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 2240,
        "wires": [
            [
                "fe2c120.7f771f"
            ]
        ]
    },
    {
        "id": "39662b3d.a80ce4",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "topic": "stat/nodoscix/STATUS5",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 2220,
        "wires": [
            [
                "6d3f9901.d47548"
            ]
        ]
    },
    {
        "id": "fe2c120.7f771f",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "Status0",
        "func": "switch(msg.topic){\n    case(\"stat/nodoscix/STATUS5\"):\n        const ip = msg.payload.StatusNET.IPAddress;\n        flow.set('ip',ip);\n        msg = null;\n        break;\n    case (\"stat/nodoscix/STATUS11\"):\n        const uptime = msg.payload.StatusSTS.Uptime;\n        const time = msg.payload.StatusSTS.Time;\n        const ssid = msg.payload.StatusSTS.Wifi.SSId;\n        flow.set('uptime',uptime);\n        flow.set('time',time);\n        flow.set('ssid', ssid);\n        msg = null;\n        break;\n    case(\"stat/nodoscix/STATUS1\"):\n        const restartReason = msg.payload.StatusPRM.RestartReason;\n        flow.set('restartReason', restartReason);\n        msg = null;\n        break;\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2240,
        "wires": []
    },
    {
        "id": "13231ad3.1ec145",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "State",
        "func": "const ip = (flow.get('ip') || \"0\");\nconst ssid = (flow.get('ssid') || \"0\");\nconst uptime = flow.get('uptime') || \"0\";\nconst time = (flow.get('time') || \"0\");\nconst restartReason = flow.get(\"restartReason\") || \"0\";\nlet msj = `__*Hora actualizacion*__: ${time}\\r\\n__*SSID*__: ${ssid}\\r\\n`;\nmsj += `__*IP*__: ${ip}\\r\\n__*Uptime*__: ${uptime}\\r\\n`;\nmsj += `__*Restart Reason*__: ${restartReason}`\n\nconst parsedmsj = msj\n    .replaceAll(\".\", \"\\\\.\")\n    .replaceAll(\"-\", \"\\\\-\");\n\nmsg.payload.options = { parse_mode: \"MarkdownV2\" };\nmsg.payload.content = parsedmsj;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2040,
        "wires": [
            [
                "c782aee25dcb2d7e"
            ]
        ]
    },
    {
        "id": "7d8af354.34c09c",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 340,
        "y": 2040,
        "wires": [
            [
                "13231ad3.1ec145"
            ]
        ]
    },
    {
        "id": "6b84058d.233b8c",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "INIT",
        "func": "context.data = context.data || {};\nswitch (msg.topic) {\n    case \"tele/nodoscix/STATE\":\n        const up = msg.payload.Uptime;\n        const time = msg.payload.Time;\n        context.data.Uptime = up\n        context.data.Time = time.replaceAll(\"-\",\"\\\\-\");\n        msg = null;\n        break;\n    case \"tele/nodoscix/INFO2\":\n        const ip = msg.payload.Info2.IPAddress\n        context.data.IP = ip.replaceAll(\".\", \"\\\\.\");\n        msg = null;\n        break;\n    case \"tele/nodoscix/INFO3\":\n        context.data.RestartReason = msg.payload.Info3.RestartReason;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.Uptime && context.data.IP && context.data.RestartReason){\n    let msj = \"🔵*INIT*\\r\\n\"\n    msj += `__*Hora*__: ${context.data.Time} \\r\\n__*Uptime*__: ${context.data.Uptime}\\r\\n__*IP*__: ${context.data.IP}\\r\\n__*Restart Reason*__: ${context.data.RestartReason}`;\n    context.data={};\n    const id = Number(env.get(\"BOT_IDS\").split(\",\", 2)[1]);\n    msg = {\n        payload: {\n            chatId:id,\n            type:\"message\",\n            content:msj,\n            options:{\n                parse_mode:\"MarkdownV2\"\n            }\n        }\n    };\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2440,
        "wires": [
            [
                "8372c6341a3b12f4"
            ]
        ]
    },
    {
        "id": "2d212b1a.cf5854",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "",
        "topic": "tele/nodoscix/INFO2",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2400,
        "wires": [
            [
                "c117387f.c1ee78"
            ]
        ]
    },
    {
        "id": "c117387f.c1ee78",
        "type": "json",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 2440,
        "wires": [
            [
                "6b84058d.233b8c"
            ]
        ]
    },
    {
        "id": "a31a69eb.04e658",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "LWT OFFLINE",
        "func": "if(msg.payload == \"Offline\" ){\n    const horaActual = new Date();\n    flow.set(\"isOnline\",false);\n    const msj = `🟠*DESCONEXION*:\nHora Desconexion: ${horaActual.toLocaleString()}\nEl Nodo se ha *DESCONECTADO*`;\n    flow.set(\"offlineTime\", horaActual);\n    const telegramId = Number(env.get(\"BOT_IDS\").split(\",\", 2)[1]);\n    msg = {\n        payload: {\n            chatId: telegramId,\n            type: \"message\",\n            content: msj,\n            options: {\n                parse_mode: \"Markdown\"\n            }\n        }\n    };\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1700,
        "wires": [
            [
                "f559b37152f4d9f9"
            ]
        ]
    },
    {
        "id": "d777ce08.77cde",
        "type": "trigger",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "Online",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 1700,
        "wires": [
            [
                "a31a69eb.04e658"
            ]
        ]
    },
    {
        "id": "20e44cc0.d4eb94",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "topic": "stat/nodoscix/STATUS11",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 2260,
        "wires": [
            [
                "6d3f9901.d47548"
            ]
        ]
    },
    {
        "id": "e6e8375c.abf958",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "",
        "topic": "tele/nodoscix/INFO3",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2440,
        "wires": [
            [
                "c117387f.c1ee78"
            ]
        ]
    },
    {
        "id": "cb4c3936.232468",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "",
        "topic": "tele/nodoscix/STATE",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2480,
        "wires": [
            [
                "c117387f.c1ee78"
            ]
        ]
    },
    {
        "id": "8328beeb.86a4d",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "LWT ONLINE",
        "func": "if (msg.payload == \"Online\" && flow.get(\"isOnline\") === false) {\n  const nowTime = new Date();\n  flow.set(\"onlineTime\", nowTime);\n  flow.set(\"isOnline\", true);\n  const offlineTime = flow.get(\"offlineTime\");\n  const downTimeMili = nowTime.getTime() - offlineTime.getTime();\n  const downTimeMinutes = Math.round(downTimeMili / 60000);\n  const downTimeHours = Math.floor(downTimeMinutes / 60);\n  const msgBody = `🟢*CONEXION*:\n    Hora Conexion: ${nowTime.toLocaleString()}\n    Downtime: *${downTimeHours}* Horas y *${downTimeMinutes}* Minutos`;\n  const telegramId = Number(env.get(\"BOT_IDS\").split(\",\", 2)[1]);\n  msg = {\n    payload: {\n      chatId: telegramId,\n      type: \"message\",\n      content: msgBody,\n      options: {\n        parse_mode: \"Markdown\"\n      }\n    }\n  };\n  return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1740,
        "wires": [
            [
                "f559b37152f4d9f9"
            ]
        ]
    },
    {
        "id": "fcc08346.cf557",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "47c076582dc80fbc",
        "name": "",
        "command": "/info@SantaCeciliaBot",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 160,
        "y": 1560,
        "wires": [
            [
                "d67670d.d1f309"
            ]
        ]
    },
    {
        "id": "d3e9d7f7.47fcc8",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "command": "/puerta@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "a82ef763.ac2178"
            ]
        ]
    },
    {
        "id": "f495ec5d.e813",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "",
        "command": "/estado@SantaCeciliaBot",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "e36a7990f0a5746e"
            ]
        ]
    },
    {
        "id": "4c04c450.b0bdfc",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "command": "/garaje@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "843e6814.3366a8"
            ]
        ]
    },
    {
        "id": "47586b44.bcf224",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "",
        "command": "/activar@SantaCeciliaBot",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "2b1fec0b.6be214",
                "58242d4e.dc9dd4"
            ]
        ]
    },
    {
        "id": "62a1c92e.6081d8",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "command": "/desactivar@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "9f21ded22803e4cd"
            ]
        ]
    },
    {
        "id": "14e2754a.875fdb",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "command": "/desactivar@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "5d92499ce6651062"
            ]
        ]
    },
    {
        "id": "8d8a7491.7c84e8",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "",
        "command": "/desactivar@SantaCeciliaBot",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": true,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 180,
        "y": 920,
        "wires": [
            [
                "ce90a758.fd0b78"
            ]
        ]
    },
    {
        "id": "6d3303f4.bfbafc",
        "type": "telegram command",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "command": "/state",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "85814c6a.5b74c",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 110,
        "y": 2080,
        "wires": [
            [
                "41e9e8.30465618",
                "7d8af354.34c09c"
            ]
        ]
    },
    {
        "id": "385efb29.dfc984",
        "type": "telegram sender",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "",
        "bot": "85814c6a.5b74c",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1730,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f971341755268546",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "msg handler",
        "func": "const id = Number(env.get(\"BOT_IDS\").split(\",\", 1));\nif (msg.payload.chatId === id){\n    return [msg,null];\n}\nelse{\n    return[null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 120,
        "wires": [
            [
                "26fa7976d5283062"
            ],
            [
                "ce7185b8.7fb4a8"
            ]
        ]
    },
    {
        "id": "26fa7976d5283062",
        "type": "delay",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1480,
        "y": 100,
        "wires": [
            [
                "385efb29.dfc984",
                "3e28c1b7c7111538"
            ]
        ]
    },
    {
        "id": "3e28c1b7c7111538",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "salida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 60,
        "wires": []
    },
    {
        "id": "34141c87479d9471",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "",
        "topic": "stat/nodoscix/STATUS1",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 2180,
        "wires": [
            [
                "6d3f9901.d47548"
            ]
        ]
    },
    {
        "id": "f5c8b64cf8f9cbd7",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "enabled",
        "property": "enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 1260,
        "wires": [
            [
                "ffcd40ad.8952b",
                "77c80ccd.9b2f04"
            ],
            [
                "2637a656ab5e7fa2"
            ]
        ]
    },
    {
        "id": "2637a656ab5e7fa2",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "advertencia",
        "func": "var msj = \"⚠️*ADVERTENCIA*⚠️:\\r\\n\";\nmsj += \"El sistema esta *DESACTIVADO*\\r\\n\";\nmsg.payload.options = { parse_mode : \"MarkdownV2\" };\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1320,
        "wires": [
            [
                "bd6a0addd0877719"
            ]
        ]
    },
    {
        "id": "e36a7990f0a5746e",
        "type": "switch",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "online",
        "property": "isOnline",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1280,
        "wires": [
            [
                "f5c8b64cf8f9cbd7"
            ],
            [
                "4353bb2c5cc5e752"
            ]
        ]
    },
    {
        "id": "4353bb2c5cc5e752",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "offline_msg",
        "func": "var msj = \"🔴*DESCONECTADO*:\\r\\n\";\nmsj += \"El sistema esta *DESCONECTADO*\\r\\n\";\nmsg.payload.options = { parse_mode : \"MarkdownV2\" };\nmsg.payload.content = msj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1360,
        "wires": [
            [
                "bd6a0addd0877719"
            ]
        ]
    },
    {
        "id": "08bd6337038bab4d",
        "type": "complete",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "",
        "scope": [
            "4353bb2c5cc5e752"
        ],
        "uncaught": false,
        "x": 210,
        "y": 800,
        "wires": [
            [
                "5d92499ce6651062"
            ]
        ]
    },
    {
        "id": "ac5a0793c01b0522",
        "type": "complete",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "",
        "scope": [
            "4353bb2c5cc5e752"
        ],
        "uncaught": false,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "9f21ded22803e4cd"
            ]
        ]
    },
    {
        "id": "0d411e93da087075",
        "type": "link in",
        "z": "8595b6d4.a51f68",
        "g": "e4ce36e5bac75fcf",
        "name": "inMsgHandler",
        "links": [
            "1e7eabd610a997b7",
            "25051a7c06ae871b",
            "df1e754784f23707",
            "a587555f51e3aa6d",
            "27e88005870313a2",
            "cc3338651d7d942e",
            "c782aee25dcb2d7e",
            "8372c6341a3b12f4"
        ],
        "x": 1175,
        "y": 120,
        "wires": [
            [
                "f971341755268546"
            ]
        ]
    },
    {
        "id": "1e7eabd610a997b7",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "963115cd91677219",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 1655,
        "y": 360,
        "wires": []
    },
    {
        "id": "25051a7c06ae871b",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "7fccb777c862da50",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 1595,
        "y": 700,
        "wires": []
    },
    {
        "id": "df1e754784f23707",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "ce445830e294e73e",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 1065,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a587555f51e3aa6d",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "ebda3edd388e326b",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 1245,
        "y": 1400,
        "wires": []
    },
    {
        "id": "27e88005870313a2",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "47c076582dc80fbc",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075"
        ],
        "x": 705,
        "y": 1560,
        "wires": []
    },
    {
        "id": "cc3338651d7d942e",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "266f0d0a4b0823a3",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075",
            "f650bc11d0aadf85"
        ],
        "x": 855,
        "y": 1720,
        "wires": []
    },
    {
        "id": "c782aee25dcb2d7e",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "3e8374dc213cbb02",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075",
            "f650bc11d0aadf85"
        ],
        "x": 805,
        "y": 2040,
        "wires": []
    },
    {
        "id": "8372c6341a3b12f4",
        "type": "link out",
        "z": "8595b6d4.a51f68",
        "g": "95f1c954a3dea647",
        "name": "toMsgHandler",
        "mode": "link",
        "links": [
            "0d411e93da087075",
            "f650bc11d0aadf85"
        ],
        "x": 675,
        "y": 2440,
        "wires": []
    },
    {
        "id": "3c7ac65b882772b9",
        "type": "mqtt out",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "",
        "topic": "cmnd/nodoscix/event",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e888858.a02168",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "2d3e46a51a73f6bc",
        "type": "inject",
        "z": "8595b6d4.a51f68",
        "g": "76fc0a591b5308f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "activar",
        "payloadType": "str",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "3c7ac65b882772b9"
            ]
        ]
    },
    {
        "id": "bae483c1c348b5ba",
        "type": "chatbot-slack-send",
        "z": "8595b6d4.a51f68",
        "g": "878f49933484483e",
        "bot": "b85ac332c10db1fa",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1830,
        "y": 2200,
        "wires": []
    },
    {
        "id": "94c0604a09d77668",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "878f49933484483e",
        "name": "SLACK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 2260,
        "wires": []
    },
    {
        "id": "1dbaa1cbdf837ac8",
        "type": "chatbot-conversation",
        "z": "8595b6d4.a51f68",
        "g": "878f49933484483e",
        "name": "",
        "botDevelopment": "b85ac332c10db1fa",
        "botProduction": "",
        "chatId": "${SLACK_CHANNEL_ID}",
        "userId": "",
        "transport": "slack",
        "x": 1450,
        "y": 2200,
        "wires": [
            [
                "0cb80fb961424dd0"
            ]
        ]
    },
    {
        "id": "0cb80fb961424dd0",
        "type": "chatbot-message",
        "z": "8595b6d4.a51f68",
        "g": "878f49933484483e",
        "name": "",
        "message": [
            {
                "message": "{{msg.payload.content}}"
            }
        ],
        "language": "none",
        "x": 1630,
        "y": 2200,
        "wires": [
            [
                "bae483c1c348b5ba",
                "94c0604a09d77668"
            ]
        ]
    },
    {
        "id": "f650bc11d0aadf85",
        "type": "link in",
        "z": "8595b6d4.a51f68",
        "g": "878f49933484483e",
        "name": "link in 1",
        "links": [
            "cc3338651d7d942e",
            "c782aee25dcb2d7e",
            "8372c6341a3b12f4"
        ],
        "x": 1155,
        "y": 2200,
        "wires": [
            [
                "827d5d46968c3b88"
            ]
        ]
    },
    {
        "id": "827d5d46968c3b88",
        "type": "json",
        "z": "8595b6d4.a51f68",
        "g": "878f49933484483e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1290,
        "y": 2200,
        "wires": [
            [
                "1dbaa1cbdf837ac8"
            ]
        ]
    },
    {
        "id": "bd5a36105bab329e",
        "type": "http request",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": true,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1830,
        "y": 1700,
        "wires": [
            [
                "a3b0b0e0f143eb19"
            ]
        ]
    },
    {
        "id": "7db9e1c5e117fc3a",
        "type": "debug",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "http_request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1950,
        "y": 1960,
        "wires": []
    },
    {
        "id": "f0b628f92c930850",
        "type": "inject",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1180,
        "y": 1660,
        "wires": [
            [
                "92185363722ea44f"
            ]
        ]
    },
    {
        "id": "a3b0b0e0f143eb19",
        "type": "xml",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1990,
        "y": 1700,
        "wires": [
            [
                "937784883319826d",
                "7db9e1c5e117fc3a"
            ]
        ]
    },
    {
        "id": "937784883319826d",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "getLastVideoURI",
        "func": "const responseStatus = msg.payload.CMSearchResult.responseStatusStrg[0];\nif(responseStatus === \"OK\"){\n    msg.playbackURI = msg.payload.CMSearchResult.matchList[0].searchMatchItem[0].mediaSegmentDescriptor[0].playbackURI[0]\n    return [msg,null];\n}\nelse if (responseStatus === \"NO MATCHES\"){\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1820,
        "wires": [
            [
                "626847f2f4992720"
            ],
            [
                "db6fd6070db48558"
            ]
        ]
    },
    {
        "id": "8ec89138951a5750",
        "type": "http request",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "",
        "method": "use",
        "ret": "bin",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1670,
        "y": 1820,
        "wires": [
            [
                "029343bb6ad121a4"
            ]
        ]
    },
    {
        "id": "626847f2f4992720",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "downloadRequest",
        "func": "var body=`\n<downloadRequest version=\"1.0\" xmlns=\"http://www.isapi.org/ver20/XMLSchema\">\n    <playbackURI>\n        ${msg.playbackURI}\n    </playbackURI>\n</downloadRequest>\n`;\n\nmsg.url = `http://${msg.ip}:8081/ISAPI/ContentMgmt/download?type=mp4`;\nmsg.method = \"GET\";\nmsg.payload = body;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1820,
        "wires": [
            [
                "8ec89138951a5750"
            ]
        ]
    },
    {
        "id": "029343bb6ad121a4",
        "type": "file",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "",
        "filename": "/data/video/video.mp4",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1880,
        "y": 1820,
        "wires": [
            [
                "ad68ab6c59717671"
            ]
        ]
    },
    {
        "id": "eb6f5c8321075c93",
        "type": "telegram sender",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "",
        "bot": "85814c6a.5b74c",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1890,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "b81fdac255d63ce4",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "sendVideo",
        "func": "const id = Number(env.get(\"BOT_IDS\").split(\",\", 2)[1]);\nconst isNotConverted = msg.rc.code;\n\nif(!isNotConverted){\n    msg.payload = {\n        content : '/data/video/output.mp4',\n        type : \"video\",\n        chatId : id,\n        options: {\n            caption: \"Here is the video\",\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 2020,
        "wires": [
            [
                "eb6f5c8321075c93"
            ]
        ]
    },
    {
        "id": "5305894ec14e2495",
        "type": "mqtt in",
        "z": "8595b6d4.a51f68",
        "g": "bf03fe339239aac5",
        "name": "",
        "topic": "stat/nodoscix/public_ip",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6e888858.a02168",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1860,
        "wires": [
            [
                "b86812baddfd30b0"
            ]
        ]
    },
    {
        "id": "b86812baddfd30b0",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "bf03fe339239aac5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "publicIP",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "ea10c09cd7553280",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "searchRequestDoor",
        "func": "const cameraIp= flow.get('publicIP');\nconst cameraChannel = msg.cameraChannel\nconst openTime = new Date (flow.get('time1Puerta'));\nconst bogotaTime = new Date(openTime.getTime() - 5 * 60 * 60 * 1000);\nconst startTime = formatTime(bogotaTime); // Remove milliseconds and keep the trailing Z\n\nconst secondsToAdd = 10\nconst endBogotaTime = new Date(bogotaTime.getTime() + secondsToAdd * 1000);\nconst endTime = formatTime(endBogotaTime);\n\nfunction formatTime(time) {\n  return time.toISOString().replace(/\\.\\d{3}Z$/, 'Z');\n}\n\nlet body = `\n<CMSearchDescription>\n  <searchID>C77384AD-66A0-0001-E7C2-1151F04F90B0</searchID>\n  <trackIDList>\n    <trackID>${cameraChannel}</trackID>\n  </trackIDList>\n  <timeSpanList>\n    <timeSpan>\n      <startTime>${startTime}</startTime>\n      <endTime>${endTime}</endTime>\n    </timeSpan>\n  </timeSpanList>\n  <maxResults>10</maxResults>\n  <searchResultPostion>0</searchResultPostion>\n  <metadataList>\n    <metadataDescriptor>//recordType.meta.std-cgi.com</metadataDescriptor>\n  </metadataList>\n</CMSearchDescription>\n`\nmsg = {\n  ip: cameraIp,\n  url: `http://${cameraIp}:8081/ISAPI/ContentMgmt/search`,\n  method: \"GET\",\n  payload: body,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1700,
        "wires": [
            [
                "bd5a36105bab329e"
            ]
        ]
    },
    {
        "id": "d1bd5760e4f8098a",
        "type": "function",
        "z": "8595b6d4.a51f68",
        "name": "time manage",
        "func": "const options = {\n    timeZone: 'America/Bogota',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false // Ensure 24-hour format\n};\n\n// Get the local time in the specified time zone\nconst colombiaDate = new Intl.DateTimeFormat('en-CA', options).format(new Date()).replace(',', '');\n\n// Reformat the date to match the required ISO format\nconst formattedDate = colombiaDate.slice(0, 10) + 'T' + colombiaDate.slice(11) + 'Z';\n\nnode.log(formattedDate);\n\nfunction getFormattedUTCTimeMinus5() {\n    const now = new Date(new Date().getTime() - 5 * 60 * 60 * 1000);\n    return now.toISOString().replace(/\\.\\d{3}Z$/, 'Z'); // Remove milliseconds and keep the trailing Z\n}\n\n// Example usage:\nconsole.log(getFormattedUTCTimeMinus5());",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "92185363722ea44f",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "setCamera101",
        "rules": [
            {
                "t": "set",
                "p": "cameraChannel",
                "pt": "msg",
                "to": "101",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1660,
        "wires": [
            [
                "ea10c09cd7553280"
            ]
        ]
    },
    {
        "id": "db6fd6070db48558",
        "type": "change",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "setCamera501",
        "rules": [
            {
                "t": "set",
                "p": "cameraChannel",
                "pt": "msg",
                "to": "501",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1720,
        "wires": [
            [
                "ea10c09cd7553280"
            ]
        ]
    },
    {
        "id": "99936694fa3ed9ee",
        "type": "inject",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1420,
        "y": 2020,
        "wires": [
            [
                "b81fdac255d63ce4"
            ]
        ]
    },
    {
        "id": "ad68ab6c59717671",
        "type": "exec",
        "z": "8595b6d4.a51f68",
        "g": "6b7c499946c5043b",
        "command": "/usr/bin/ffmpeg -i \"/data/video/video.mp4\" -y -threads 1 -max_muxing_queue_size 9999 -c:v libx264 -crf 23 -maxrate 4.5M -preset veryfast -movflags +faststart -pix_fmt yuv420p -profile:v baseline -an \"/data/video/output.mp4\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ffmpeg",
        "x": 1610,
        "y": 1920,
        "wires": [
            [
                "7db9e1c5e117fc3a",
                "b81fdac255d63ce4"
            ],
            [],
            []
        ]
    }
]